*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/vendor/cache
/log/*
/tmp/*
!/tmp/.gitkeep
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.idea/
.DS_Store
deployment/tmp
deployment/cookbooks
.vagrant
.*un~
.ruby-gemset
.ruby-version
.local/
spec/examples.txt
/tags
/.mozilla
/.cache
