<div class="row">
  <div class="page-header">
    <h1>Import Workflow</h1>
  </div>
</div>

<div class='row'>
  <blockquote>You can import Workflow from a <code>.json</code> file.</blockquote>
</div>

<div class='row'>
  <div class="col-md-4">
    <div class="form-group">
      <%= f.label :file, 'Upload a Workflow JSON File' %>
      <%= f.file_field :file, :class => 'form-control-file' %>
    </div>

    <div class='form-actions'>
      <%= f.submit "Start Import", :class => "btn btn-primary btn-sm" %>
    </div>
  </div>
</div>
