<div class="d-flex justify-content-end">
  <%= link_to icon_tag('fa-plus') + ' New Workflow'.html_safe, new_workflow_path, class: "ml-auto btn btn-primary btn-sm" %>
  <%= link_to icon_tag('fa-cloud-upload-alt') + ' Import Workflow'.html_safe, new_workflow_imports_path, class: "btn btn-primary btn-sm" %>
</div>
