<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <%= link_to icon_tag('fa-chevron-left') + ' Show Worfklow'.html_safe, workflow_path(@workflow), class: "btn btn-primary btn-sm" %>
        </div>
      </div>

      <hr>

      <div class="page-header">
        <h1>Export <%= workflow_label(@workflow) %></h1>
      </div>

      <p class="text-warning">
        <strong><em>Please be sure that none of the agents in this workflow have sensitive data in their settings before sharing!</em></strong>
      </p>

      <p>You can share this workflow by downloading and sharing your export file:</p>
      <%= link_to icon_tag('fa-cloud-download-alt') + ' Download File', export_workflow_path(@workflow, :format => :json), class: "btn btn-primary btn-md" %>

    </div>
  </div>
</div>
