<%= link_to icon_tag('fa-project-diagram') + ' <span class="show hidden">Show</span><span class="hide">Hide</span> Diagram'.html_safe, '#', class: "btn btn-primary btn-sm", id: 'show-diagram-toggle' %>
<div class="overview-diagram pb-4 hidden">
  <%= render_agents_diagram(@agents, @workflow) %>
</div>
