<div class="btn-group btn-group-sm">
  <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <%= render 'agents/action_menu', agent: agent %>
</div>
