  <div class="row">
    <div class="col-md-12">
      <div class="agents-top-nav">
        <% (agent&.workflows || [current_workflow].compact).each do |workflow| %>
          <%= link_to icon_tag('fa-chevron-left') + ' '+ workflow_label(workflow), workflow, class: "btn btn-primary btn-sm #{current_workflow == workflow ? 'current-workflow' : '' }" %>
        <% end %>
        <%= link_to icon_tag('fa-chevron-left') + ' All Agents'.html_safe, agents_path, class: "btn btn-primary btn-sm" %>
        <% if agent.present? %>
          <%= link_to icon_tag('fa-asterisk') + ' Show', agent_path(agent, params: { workflow_id: current_workflow&.id }), class: "btn btn-primary btn-sm show-agent" %>
        <% end %>
      </div>
    </div>
  </div>
