<div class=''>
  <% if @agents.empty? %>
    <p>No Agents</p>
  <% else %>
    <table id="agents-table" class='table table-striped table-hover table-sm'
           data-workflow_id="<%= workflow&.id %>">
      <thead>
        <tr>
          <%# !--th data-searchable="false" data-orderable="false"></th--%>
          <th data-searchable="true" data-orderable="true">Name</th>
          <th data-searchable="false" data-orderable="false">Schedule</th>
          <th data-searchable="false" data-orderable="true">Last Check</th>
          <th data-searchable="false" data-orderable="true">Last Message In</th>
          <th data-searchable="false" data-orderable="true">Last Message Out</th>
          <th data-searchable="false" data-orderable="true">Messages Created</th>
          <th data-searchable="false" data-orderable="true">Working?</th>
          <th data-searchable="false" data-orderable="false"></th>
        </tr>
      </thead>
    </table>
  <% end %>
</div>
