<% content_for :title, "Create Agent" -%>

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <%= link_to icon_tag('fa-chevron-left') + ' All agents'.html_safe, agents_path, class: "btn btn-primary btn-sm" %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>
          Create a New Agent
          <i id="agent-spinner" class="fa fa-spinner fa-pulse spinner"></i>
        </h1>
      </div>

      <div id="agent-form">
        <%= render 'form' %>
      </div>

    </div>
  </div>
</div>
