<% content_for :title, "Create Agent" -%>

<div class="container">
  <%= render 'agents/nav', agent: nil, current_workflow: @workflow %>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>
          Create a New Agent
          <i id="agent-spinner" class="fa fa-spinner fa-pulse spinner"></i>
        </h1>
      </div>

      <div id="agent-form">
        <%= render 'form' %>
      </div>

    </div>
  </div>
</div>
