 /*

Use font sizes and line heights from the classic typographic scale:
7, 8, 9, 10, 12, 14, 16, 18, 21, 24, 28, 32, 36, 42, 48, 55, 63, 73, 84, 96.
https://spencermortensen.com/articles/typographic-scale/

 */

html {font-size: 100%;} /* 16px */

body {
  font-weight: 400;
}

h1 {
  font-size: 2rem;
  font-weight: 200;
}

h2 {
  font-size: 1.6rem;
  font-weight: 200;
}

h3 {
  font-size: 1.4rem;
  font-weight: 200;
}

small,
.text_small {
  font-size: 0.875rem;
}

hr {
  background-color: $primary;
}

.page-header {
  @extend .mb-3;

  p {
    color: #AAAAAA;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
  }
}

pre {
  background-color: #494f56;
  page-break-inside: avoid;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.2em;
  display: block;
  word-wrap: break-word;
}

code {
  font-size: 100%;
}
