
#show-diagram-toggle {
}

.overview-diagram {
  background-color: #494f56;
  padding: 15px;
  overflow-x: auto;
  margin: 10px 0;
}

.agent-diagram {
  position: relative;
  padding: 0;
  z-index: auto;

  svg.diagram {
    position: absolute;
    z-index: 1;
    text {
      stroke: none;
      fill: white;
    }
    path {
      stroke: white;
    }
    polygon {
      stroke: white;
      fill: white;
    }
    .highlight {
    }
  }

  .overlay-container {
    z-index: auto;

    .overlay {
      z-index: auto;
      width: 100%;
      height: 100%;

      .badge {
        position: absolute;
        display: none;
        color: white !important;
        z-index: 2;
      }
      .badge-danger {
        background-color: $danger;
      };
      .badge-success {
        background-color: $success;
      };
      .badge.issues {
        color: orange !important;
      }
    }
  }
}
