
label[required] {
  color: #f74;

  &:after {
      content:" *";
      color: #f74;
    }
}

.help-inline {
  font-size: 0.8rem;
  font-style: italic;
  line-height: 1.3;
  display: inline-flex;
  color: $info;
}

.btn-lg, .btn-group-lg > .btn {
  font-size: 18px;
}
