
.navbar {

  a.navbar-brand {
    border: none;
    color: #676b70;
    font-size: 1.375rem;
    font-weight: 700;
    letter-spacing: -0.2px;

    img {
      height: 32px;
      position: relative;
      top: -1px;

      &:hover {
        filter: brightness(0) saturate(100%) invert(77%) sepia(5%) saturate(173%) hue-rotate(169deg) brightness(93%) contrast(85%);
      }
    }
  }

  #message-indicator,
  .job-indicator {
    line-height: 55px;
    padding-right: 1rem;

    a {
      color: $gray-500;
      display: inline-flex;

      .badge {
        font-weight: 200;
        font-size: 14px;

        i {
          color: $gray-500;
        }
      }

      &:hover {
        color: #787d82;
        .badge i {
          color: #787d82;
        }
      }
    }

  }

  .nav-link {
    border-right: none;
  }

  .highlight {
    color: $green;

    &.label-warning {
      color: $yellow;
    }
  }

}

.navbar-expand-lg .navbar-nav {
  li.nav-item {
    .nav-link {
      padding: 1rem;
    }
  }
}
