
.enable-all-agents {
  margin-left: 10px;
}

#workflows-table {
  td:first-child { // Name
    font-size: 1.1rem;
    font-weight: 100;

    a {
      color: #ddd;
    }
  }
}

.workflow-import {
  .agent-import-list {
    .agent-import {
      margin-bottom: 20px;

      .instructions {
        margin-bottom: 10px;
      }

      .current {
        font-weight: bold;
      }
    }
  }
}

.confirm-workflow-deletion {
  h4 {
    margin: 5px 0 3px 0;

    &.modal-title {
      font-weight: 200;
      font-style: italic;
    }
  }

  em {
    font-size: 0.9rem;
    color: $gray-200;
    display: block;
    margin-bottom: 10px;
  }
}
