
.enable-all-agents {
  margin-left: 10px;
}

#workflows-table {
  td:first-child { // Name
    font-size: 1rem;
    font-weight: 100;
    padding-top: 12px;

    a {
      color: #ddd;
    }

    .badge {
      font-size: inherit;
    }
  }

  td:nth-child(2) { // Agents
    min-width: 5rem;
    padding-top: 16px;
  }

  a.show-description {
    margin-left: 1rem;

    i.fa-info {
      background: #444;
      padding: 5px 9px;
      border-radius: 35px;

      &:hover {
        background: #6f6f6f;
      }
    }
  }

  p.description {
    color: #787878;
    font-size: 0.8rem;
    font-weight: 300;
    margin-top: 9px;
    margin-bottom: 5px;
  }
}

.workflow-import {
  .agent-import-list {
    .agent-import {
      margin-bottom: 20px;

      .instructions {
        margin-bottom: 10px;
      }

      .current {
        font-weight: bold;
      }
    }
  }
}

.confirm-workflow-deletion {
  h4 {
    margin: 5px 0 3px 0;

    &.modal-title {
      font-weight: 200;
      font-style: italic;
    }
  }

  em {
    font-size: 0.9rem;
    color: $gray-200;
    display: block;
    margin-bottom: 10px;
  }
}
