<% content_for :title, "Edit " + @user.username -%>

<div class='container'>
  <div class='row'>
    <div class='col-md-4'>
      <h1>Edit User</h1>

      <%= render partial: 'form' %>
    </div>
  </div>
</div>
