<div class="container">
  <div class='row'>
    <div class='col-md-12'>
      <div class="page-header">
        <h3>
          <div class="alert alert-danger" role="alert">
            Error: Agent(s) are 'missing in action'
          </div>
        </h3>
      </div>
      <blockquote>
        <p>
          You have one or more Agents registered in the database for which no corresponding definition is available in the source code:
        </p>
        <ul>
          <% @undefined_agent_types.each do |type| %>
            <li><%= agent_type_to_human(type) %></li>
          <% end %>
        </ul>
        <br/>
        <p>
          This issue probably occurred for one or more of the following reasons:
        </p>
        <ul>
          <li>If the respective Agent is distributed as part of the ActiveWorkflow application codebase, it may have been removed or moved to an Agent gem.</li>
        </ul>
        <br/>
        <p>
          You can fix this issue by:
        </p>
        <ul>
          <li>deleting the respective Agent(s) from the database using the button below.</li>
        </ul>
        <br/>
        <div>
          <%= link_to icon_tag('fa-trash-alt') + ' Delete Missing Agents', undefined_agents_path, class: "btn btn-danger btn-sm", method: :DELETE, data: { confirm: 'Are you sure all missing Agents should be deleted from the database?'} %>
        </div>
      </blockquote>
    </div>
  </div>
</div>
